<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            
            
            
            <li>
                <a routerLink="/trainers" routerLinkActive = "active-link">Trainers</a>
            </li>
            <li>
                <a routerLink="/addTrainer" routerLinkActive = "active-link">Add Trainer</a>
            </li>
     
            <li>
                <a routerLink="/trainingSessions" routerLinkActive = "active-link">Training Sessions</a>
            </li>
     
            <li>
                <a routerLink="/virtualMachines" routerLinkActive = "active-link">View Virtual Machines </a>
            </li>
      
   
            <li>
                <a routerLink="/createtrainingSession" routerLinkActive = "active-link">Create Training Session </a>
            </li>
      
        </ul>
    </nav>
</div>




